body {
    margin: 0px;
  }
  
  header {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    padding: 30px;
    display: block;
  }
  
  #perfil {
    width: 50px;
    background-color: black;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  #tipo {
    width: 50px;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  
  #icon {
    padding: 5px;
    display: inline;
  }

  #title {
    padding: 5px;
    display: inline;
  }

  #filtro {
    width: 50px;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 10px;
  }

  #estagios {
    width: 50px;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 10px;
  }