:root {
  --cor-click: #126ae2; /* Click */
  --cor-sombra: #0a599b; /* Azul Escuro */
  --cor-text: black; /* Preto */
  --cor-back1: #edf2f4; /* Azul claro */
  --cor-back2: #6a937a; /* Verde Escuro */
}

body {
    margin: 0px;
    background-color: var(--cor-back1);
  }

@import url(https://fonts.googleapis.com/css?family=Arimo);
  
  header {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: --cor-back1;
    padding: 20px;
    display: block;
  }
  
  #user_name {
    display: absolute;
    font-size: 30pt;
    padding: 0px;
  }
  
  #configuracao {
    width: 50px;
    background-color: --cor-back1;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 23px;
  }
  
  #notificacoes {
  position: relative;
  top: 0px;
  left: 0px;
  rigth: 0px;
  padding: 10px;
  margin: 0px;
}

#notf {
    display: block;
    font-size: 17pt;
    padding: 5px;
  }

#notificacoes_box {
  position: relative;
  background-color: white;
  top: 0px;
  left: 0px;
  rigth: 0px;
  padding: 10px;
  margin: 00px;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top:10px;
}
  
  #icon {
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

  #title {
  padding: 7px;
  width: 70%;
  display: inline-block;
}
  
 #mns {
  padding: 10px;
  width: 80%;
  display: inline-block;
}

.material-symbols-outlined {
  color: black;
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 800
}

.settings {
  font-size: 60px;
}

.mail {
  font-size: 18px;
}

.check_circle {
  font-size: 18px;
}

.work {
  font-size: 18px;
}

.icoP {
  font-size: 18px;
  /* vertical-align: middle; */ /* propriedade para deixar o icone centralizado na linha */
}

.font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 11px;
  color: var(--cor-text)
}
